<div class="container">
	<div class="row">
		<h1>ユーザー情報編集</h1>
	</div>
	<%= form_for @user do |f| %>
  	<div class="field">
    	<%= f.label :name %><br>
    	<%= f.text_field :name, autofocus: true %>
 	 </div>

  	<div class="field">
    	<%= f.label :email %><br />
    	<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  	</div>

  	<div class="field">
    	<%= f.label :phone_number %><br>
    	<%= f.text_field :phone_number, autofocus: true %>
  	</div>

  	<div class="field">
    	<%= f.label :image %><br>
    	<%= f.attachment_field :image %>
  	</div>

  	<div class="actions">
    	<%= f.submit "編集" %>
  	</div>
	<% end %>
</div>