<%= render partial: "homes/header" %>
<div class="container">
	<div class="row mt-5">
	</div>
	<div class="row">
		<div class="col-md-9">
			<% @posts.each do |post| %>
			<div class="row mt-3 mr-3" style="border: solid #ffc0cb 2px; border-radius: 10px; height: 200px;">
				<div class="col-md-3" style="padding-top: 10px;">
					<%= attachment_image_tag post, :image, size:'180x180', fallback: "no_user_image.jpg" %>
				</div>
				<div class="col-md-9">
					<div class="row mt-3">
						<div class="col-md-9">
							<h5><%= post.title %></h5>
						</div>
						<div class="col-md-3">
							<%= link_to post_path(post), method: :patch, name: 'private', data:{confirm: "記事を非公開にします。"} do %><i class="fas fa-lock text-dark"></i><% end %>
							<%= link_to edit_post_path(post) do %><i class="fas fa-wrench text-dark ml-3"></i><% end %>
							<%= link_to post_path(post), method: :delete, data:{confirm: "記事を削除すると、記事に関するチャットも削除されます。よろしいですか？"} do %><i class="far fa-trash-alt ml-3 text-dark"></i><% end %>
						</div>
					</div>
					<%= render_with_hashtags(post.body) %>
				</div>
			</div>
			<% end %>
			<div class="row">
				<div class="col-md-6 mx-auto mt-4">
					<div class="row">
						<div class="mx-auto">
							<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: "posts/user_info" %>
	</div>
</div>