<%= render partial: "homes/header" %>
<div class="container">
	<div class="row mt-5">
	</div>
	<div class="row">
		<div class="col-md-9">
			<% @posts.each do |post| %>
			<div class="row mt-3 mr-3" style="border: solid #ffc0cb 2px; border-radius: 10px; background-color: white;">
				<% if post.flag == true %>
				<div class="col-md-3" style="padding-top: 10px; padding-bottom: 10px;">
					<%= link_to attachment_image_tag(post, :image, size:'180x180', fallback: "no_user_image.jpg"), post_path(post) %>
				</div>
				<% else %>
				<div class="col-md-3" style="padding-top: 10px; padding-bottom: 10px; position: relative;">
					<%= link_to attachment_image_tag(post, :image, size:'180x180', fallback: "no_user_image.jpg"), post_path(post) %>
					<div style="position: absolute; top: 35%; background-color: pink; height: 50px; width: 180px; opacity: 0.9; text-align: center;">
						<h2 class="pt-1">非公開記事</h2>
					</div>
				</div>
				<% end %>
				<div class="col-md-9">
					<div class="row mt-3">
						<div class="col-md-9">
							<h5><%= post.title %></h5>
						</div>
						<div class="col-md-3">
							<%= link_to edit_post_path(post) do %><i class="fas fa-wrench text-dark ml-3"></i><% end %>
							<%= link_to post_path(post), method: :delete, data:{confirm: "記事を削除すると、記事に関するチャットも削除されます。よろしいですか？"} do %><i class="far fa-trash-alt ml-3 text-dark"></i><% end %>
						</div>
					</div>
					<%= render_with_hashtags(post.body) %>
				</div>
			</div>
			<% end %>
			<div class="row">
				<div class="col-md-6 mx-auto mt-4">
					<div class="row">
						<div class="mx-auto">
							<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% if @user == current_user %>
		<div class="col-md-3">
			<div class="row mt-3 mr-3 " style="border: solid #ffc0cb 2px; border-radius: 10px; background-color: white;">
				<div class="col-md-5">
					<%= link_to attachment_image_tag(@user, :image, size:'80x80', fallback: "no_user_image.jpg", style:"border-radius: 50%", class:"mx-auto mt-3 mb-3"), user_path(@user) %>
				</div>
				<div class="col-md-7">
					<div class="row mt-3">
						<ul style="list-style: none">
							<li><%= @user.name %><%= link_to edit_user_path(@user), data: { "turbolinks" => false} do %><i class="fas fa-cog text-dark"></i><% end %></li>
							<li><%= @user.email %></li>
							<li><%= @user.phone_number %></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<% else %>
		<div class="col-md-3">
			<div class="row mt-3 mr-3 " style="border: solid #ffc0cb 2px; border-radius: 10px; background-color: white;">
				<div class="col-md-5">
					<%= link_to attachment_image_tag(@user, :image, size:'80x80', fallback: "no_user_image.jpg", style:"border-radius: 50%", class:"mx-auto mt-3 mb-3"), user_path(@user) %>
				</div>
				<div class="col-md-7">
					<div class="row mt-3">
						<ul style="list-style: none">
							<li><%= @user.name %></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= render partial: "homes/footer" %>