<%= render partial: "homes/header" %>
<div class="container">
	<div class="row mt-5">
	</div>
	<div class="row">
		<div class="col-md-9">
			<% @posts.each do |post| %>
			<div class="row mt-3 mr-3" style="border: solid #ffc0cb 2px; border-radius: 10px; height: 200px;">
				<div class="col-md-3" style="padding-top: 10px;">
					<%= attachment_image_tag post, :image, size:'180x180', fallback: "no_user_image.jpg" %>
				</div>
				<div class="col-md-9">
					<div class="row mt-3">
						<div class="col-md-10">
							<h5><%= post.title %></h5>
						</div>
						<div class="col-md-2">
							<%= link_to edit_post_path(post) do %><i class="fas fa-wrench text-dark"></i><% end %>
							<%= link_to post_path(post), method: :delete, data:{confirm: "本当に削除しますか？"} do %><i class="far fa-trash-alt ml-3 text-dark"></i><% end %>
						</div>
					</div>
					<%= render_with_hashtags(post.body) %>
				</div>
			</div>
			<% end %>
		</div>
		<%= render partial: "posts/user_info" %>
	</div>
</div>