<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<h2><%= link_to "推しトレ！", posts_path %></h2>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="js-modal-open" href="">記事作成</a>
			</li>
			<li class="navbar-nav">
				<%= link_to "マイページ", user_path(current_user) %>
			</li>
			<li class="navbar-nav">
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
	</div>
</nav>
<div class="modal js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__content_2">
		<div class="row">
			<h3>記事作成</h3>
		</div>
		<div class="row">
			<%= form_for @new_post do |f| %>
			<ul style="list-style: none">
				<li>
					<%= f.label "タイトル" %>
					<%= f.text_field :title %>
				</li>
				<li>
					<%= f.label "画像" %>
					<%= f.attachment_field :image %>
				</li>
				<li>
					<%= f.label "本文" %>
					<%= f.text_area :body %>
				</li>
				<li>
					<%= f.submit "記事を投稿する" %>
				</li>
			</ul>
			<% end %>
		</div>
		<div class="modal__close">
			<a class="js-modal-close btn btn-light" href="">閉じる</a>
		</div>
	</div>
</div>