<%= render partial: "homes/header" %>

<div class="container">
	<div class="row mt-5">
		<h4>#<%= @hashtag.hashname %></h4>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<% @posts.each do |post| %>
				<div class="col-md-4" style="background-color: white;">
					<div class="card img-thumbnail mt-3" style="border: solid #ffc0cb 2px; border-radius: 10px;">
						<%= link_to attachment_image_tag(post, :image, size:'244x244', fallback: "no_user_image.jpg"), post_path(post), class:"card-img-top" %>
						<div class="card-body px-2 py-3">
							<h5 class="card-title"><%= post.title %></h5>
							<p class="card-text text-truncate"><%= render_with_hashtags(post.body) %></p>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-md-6 mx-auto mt-4">
					<div class="row">
						<div class="mx-auto">
							<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: "posts/user_info" %>
	</div>
</div>
<%= render partial: "homes/footer" %>