<%= render partial: "homes/header" %>
<div class="container">
	<div class="row mt-5">
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-5">
					<%= attachment_image_tag @post, :image, size:'300x300', fallback: "no_user_image.jpg", class:"img-thumbnail" %>
				</div>
				<div class="col-md-7">
					<div class="row mt-5"></div>
					<div class="row">
						<%= attachment_image_tag @post.user, :image, size:'50x50', fallback: "no_user_image.jpg", style:"border-radius: 50%" %>
						<%= @post.user.name %>
					</div>
					<div class="row">
						<div class="col pl-0">
							<h2><%= @post.title %></h2>
						</div>
						<div class="col-md-5 pl-5 pt-3">
							<%= @post.created_at.strftime("%Y.%m.%d %H:%M") %>
						</div>
					</div>
					<div class="row pr-3 mt-2">
						<%= render_with_hashtags(@post.body) %>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: "posts/user_info" %>
	</div>
</div>
